@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

@import 'variables';
@import 'mixins';
@import 'animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0.6rem;

  display: flex;
  flex-direction: column;

  color: white;
  background-color: $color-primary;

  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

header {
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;

  p {
    display: inline;

    border: 1px solid white;
    padding: 0.5rem 0.4rem;

    font-family: "Crimson Pro", serif;
    font-weight: 200;
    text-transform: uppercase;
  }

  nav {
    display: flex;
    z-index: 1;

    &.navbar {
      &.open {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: $color-primary;

        span {
          opacity: 1;

          position: absolute;
          right: 15px;
          top: 15px;
        }

        ul {
          opacity: 1;
          animation: fade-in 2s;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }

      &.close {
        ul {
          animation: fade-out 2s;
        }
      }
    }

    ul {
      opacity: 0;
      height: 0;
      overflow: hidden;

      list-style: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      li {
        cursor: pointer;
        margin-top: 1.5rem;

        &.active {
          font-weight: 700;
          position: relative;

          a {
            padding-bottom: 0.4rem;
            border-bottom: 2px solid white;
          }
        }

        a {
          &:hover {
            padding-bottom: 0.4rem;
            border-bottom: 2px solid white;
          }
        }
      }
    }

    span {
      display: block;
      cursor: pointer;
    }
  }

  @include responsive($med) {
    padding: 0 3rem;

    nav {
      max-width: 600px;

      span {
        &.material-icons {
          display: none;
        }
      }

      ul {
        opacity: 1;
        display: flex;
        height: auto;

        li {
          font-size: 1rem;
          padding: 1rem 1.5rem;
          margin-top: 0;
        }
      }
    }
  }

}

main {
  flex: 1;

  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;

  .container {
    display: flex;
    flex-direction: column;

    .box-left {
      h2 {
        font-family: "Lora", serif;
        font-weight: 500;
        font-size: 2rem;
      }

      p {
        width: 230px;
        margin: 1rem 0;
      }

      a {
        display: flex;
        align-items: center;

        font-weight: 700;

        margin-bottom: 1.5rem;

        span {
          padding-left: 0.6rem;
        }
      }
    }

    .box-right {
      position: relative;

      img {
        width: 100%;
        object-fit: fill;
      }

      .inside-box {
        background-color: $color-primary;
        width: 280px;
        height: 130px;
        position: absolute;
        right: 10px;
        bottom: -80px;
        padding: 1rem 1.5rem;
        box-shadow: 0px 7px 5px rgb(0 0 0 / 20%);

        .head {
          display: flex;
          font-family: "Montserrat", sans-serif;
          align-items: center;
          margin-bottom: 0.7rem;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .subcontent {
            margin-left: 1rem;

            h3 {
              font-size: 0.7rem;
              font-weight: normal;
            }

            p {
              margin: 0.1rem 0 0 0;
              color: #828282;
              font-size: 0.5rem;
            }
          }
        }

        p {
          font-family: "Lora", serif;
          font-weight: 700;
          font-size: 1rem;
        }
      }
    }
  }

  @include responsive($med) {
    display: flex;
    justify-content: center;
    padding: 3rem;

    .container {
      max-width: 1000px;
      flex-direction: row;
      align-items: center;

      .box-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1rem;
        }

        a {
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 0;
        }
      }
      .box-right {
        flex: 0 0 60%;

        .inside-box {
          width: 350px;
          height: 180px;
          right: 30px;
          bottom: -105px;
          padding: 1rem 2rem;

          .head {
            margin-bottom: 1.4rem;

            img {
              width: 50px;
              height: 50px;
            }

            .subcontent {
              h3 {
                font-size: 0.9rem;
              }

              p {
                margin-top: 0.4rem;
                font-size: 0.7rem;
              }
            }
          }

          p {
            width: 240px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

}

footer {
  margin-top: 4rem;
  padding: 2rem 0;
  height: 35px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  color: #a9a9a9;

  a {
    margin: 0;
    padding: 0;

    color: inherit;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
  }

  @include responsive($med) {
    margin-top: 0;
  }

}
